body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#quiz-container {
    margin: 20px 0;
}

.hidden {
    display: none;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.option {
    background-color: black;
    border: 1px solid #007BFF;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.option:hover {
    background-color: #cce5ff;
}

.correct {
    background-color: #28a745;
    color: black;
}

.incorrect {
    background-color: #dc3545;
    color: black;
}
